@charset "UTF-8";

body{
	background-color: #DADAD9;
	color: #696765;
	font-family: 'Noto Sans KR', sans-serif;
}
/* header */

.header-wrapper{
   display: flex;
   flex-direction: column;
   position: fixed;
   width: 100%;
   background-color: #DADAD9;
   display: block;
   z-index:999;
   top:0%; /**/
}

.header-section{
   display: flex;
   align-items: center;
   justify-content: space-between;
   top: 0%;
   width: 100%;
   height: 10vh;
}


.top-logo-text{
   margin-left: 5%;
   font-size: 5vh;
   font-weight: bold;
   color: #696765;
}

.top-right{
   display: flex;
   justify-content: space-around;
   margin-right: 5%;
   color: #696765;
}

.div_top-search{
   background-color: white;
}

/* nav */
/* 전체 메뉴 틀, 양식 지정 */
.navi{
   height: 5vh;
   background-color: #959493;
   color: #DADAD9;
   width: 100%;

}

/* 각메뉴들을 감싼 wrap 정렬지정 */
.navi-wrapper{
	height:100%;
	display: flex;
	justify-content: space-between;

}

/* 각메뉴의 정렬 지정*/
.navi-wrapper>div{
	display: flex;
	align-items:center;
	justify-content:center;
	height:100%;
	width: 200px;
	text-align: center;
	font-weight: bold;
	transition-duration:0.2s;
}
.navi-wrapper>div:hover{
	font-size: 2vw;
}
.navi-wrapper a{
	color: #DADAD9;
}

/* footer */
.bottom{
   height:15vh;   
   background-color: #DADAD9;
   color: #696765;
}
.bottom_main{
   font-weight:bold;
   height:2vh;
   padding-left:1%;
   padding-top:1%;
   
}
.bottom_left{
   padding-left:1%;
   
}
.bottom_content{
   display:flex;
   
}
.bottom_right{
   padding-left:70%;
   
}

/* 나라별 조회 클릭시 뜨는 나라선택 창 */

.navi-extend-wrapper{
	height: 10vh;
	background-color: #959493;
	transition-duration:0.5s;
	
}

.navi-extend-wrapper>ul{
	height:100%;
	display: flex;
	justify-content: space-evenly;
	align-items:center;
}

.navi-extend-list>a{
	color: #DADAD9;
	
}

.navi-extend-list{
	transition-duration:0.5s;
	color: #DADAD9;
}

.navi-extend-list:hover {
	font-size:3vw;
	font-weight: bold;
	
}
/* 메뉴선택이 화면이동되고 조건값에 맞는 결과 화면 출력 */

.content{
	display: flex;
	flex-direction:column;
	align-items:center;
	min-height: 70vh;
	margin-top: 15vh;
}
.mv_wrapper{
	width:80%;
	height:100%;
	padding-top: 5vh;
	padding-bottom:10vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between;

}

.mv_list_wrap{
	display: flex;
	height: 50vh;
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
	border-style:outset;
	box-shadow: 4px 4px 2px 1px gray;
	transition-duration:0.5s;
	margin-bottom: 5vh;
}

.mv_list_wrap:hover{
	background-color: white;
	transform: scale(1.1) translateX(0) translateY(0) rotate(0deg);
	
}

.mv_list_left-wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	min-width: 50vh;
}
.mv_title{
	font-size: 4vh;
	font-weight: bold;
}

.mv_btn-more{
	background-color: black;
	color:white;
}
.mv_list_middle-wrap{
	height:20vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.mv_list_middle-wrap>span{
	font-size: 2.5vh;
	border-bottom: solid 1px black;
	
}

.mv_list_bottom-wrap{
	height:20vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mv_list_bottom-wrap>span{
	font-size: 2.5vh;
	border-bottom: solid 1px black;
	
}

.mv_list_right-wrap{
	display:flex;
	justify-content:center;
	width: 35vh;
	height: 50vh;
}
.mv_list_top-wrap{
	display: flex;
	justify-content: space-between;
}
